body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3b3c36;
}

#Game{
  /*height: 500px; width: 500px;*/ position: relative; border: solid 1px;
  background-color: #82898f;
  padding: 0;
}

#start_game_btn{
  border: solid 1px;
  width: 106px;
  cursor: pointer;
}

.players{
  border: solid 1px; width: 15px; height: 15px; border-radius: 15px;
}